; -*- mode: clojure; -*-
; vim: filetype=clojure

{:datasource {:subprotocol "postgresql"
              :classname "org.postgresql.Driver"
              :subname "//localhost/cmis2"
              :user "cmis"
              :password "cmis"}
 :hostname "nagios.elex.be"
 :private-key-path "/home/brh/.ssh/id_rsa"
 :username "cmis"
 }

